/* aulas-presenciais.css */

.agenda {
    margin-top: 40px;
    text-align: center;
}
/* Centralizar o botão abaixo da agenda */
.agenda .btn {
    display: block;
    margin: 20px auto;
}
.agenda iframe {
    border: 0;
    width: 100%;
    height: 600px;
    margin: 20px 0;
}

.formulario {
    padding: 40px 20px;
    background: #fff;
    text-align: center;
}
.form-group {
    margin-bottom: 20px;
    text-align: left;
}
.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #333;
}
.form-group input,
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}

.descricao {
    background: #fdf5e6; /* Mesmo tom bege da seção Quem Sou */
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 40px;
}

.descricao h2 {
    color: #8B0000; /* Vermelho escuro */
    text-align: center;
    margin-bottom: 20px;
}

.descricao p {
    text-align: justify;
    hyphens: auto;
    margin-bottom: 1rem;
}
